.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0;  
    width: 100%;
    height: 100%;
    background: #fff;
    background: rgba(46, 47, 66, 0.4);
    z-index: 999;
     opacity: 0;
        pointer-events: none;
    }
    .modal-overlay.is-open {
        opacity: 1;
        pointer-events: auto;
    }
.modal { 
display: flex; 
flex-direction: column;  
border-radius: 4px;
padding: 72px 24px 24px;
width: 408px;
max-height: 80vh;
overflow-y: auto;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
position: relative;
box-sizing: border-box;
}  

.modal-button {
display: flex;
justify-content: center;
align-items: center;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 24px;
width: 24px;
height: 24px;
background: #e7e9fc;
position: absolute;
top: 24px;
right: 24px;

}
.modal-icon {
}
.modal-title {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 360px; 
  
}
.form-field {
    width: 100%;    
    margin-bottom: 8px;
}
.form-label {
display: block;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
}
.input-wrapper {
    position: relative;
    width: 100%;
}
.form-input {
    padding-left: 38px;
    width: 100%;
    border: 1px solid #2E2F42;    
    transition: border-color 250ms ease-in-out;
}
.form-icon {
    fill: currentColor;
}
.form-textarea {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: #2E2F42;
width: 100%;
resize: none;
overflow-y: auto;
}
.checkbox-field {
    display: flex;
    align-items: center;
    gap: 8px;
}
.checkbox {
}
.checkbox-label {    
    font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: #8E8F99;
}
.privacy-link {
color: #4D5AE5;
text-decoration: underline;
}
.submit-button {
display: block;
margin: 24px auto 0;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
color: #fff;
}

.form-icon {
 position: absolute;
 left: 19px;
 top: 50%;
 transform: translateY(-50%);
}
.icon-cross {
width: 8px;
height: 8px;
}
.icon-man {
width: 12px;
height: 12px;

}
.icon-phone {
width: 13px;
height: 13px;   
}
.icon-tick {
width: 15px;
height: 12px;
} 
    .modal-overlay.is-open {
        opacity: 1;
        pointer-events: auto;
    }
    .submit-button:hover,
    .submit-button:focus {
        background-color: #404BBF;
        color: #fff;
    }
.input-wrapper:hover .form-input,
.input-wrapper:focus-within .form-input {
  border-color: #404BBF;  
}

.input-wrapper:hover .form-icon,
.input-wrapper:focus-within .form-icon {
     fill: #404BBF; 
}    

.icon-cross:hover .form-icon,
.icon-cross:focus-within .form-icon {
    fill: #404BBF;
}
.icon-checkbox {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

.checkbox:checked + .checkbox-label .icon-checkbox {
opacity: 1;
}


.footer-form-label {
display: block;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}
.footer-form-subscrib {
    display: flex;
    gap: 24px;
    margin-left: 83px;
    align-items: flex-end;

}

.footer-form-label {
    margin-bottom: 16px;
}
.footer-form-input::placeholder {
    opacity: 1;
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #fff;

} 
.footer-form-input {
border: 1px solid #fff;
border-radius: 4px;
padding: 8px 16px;
width: 264px;
height: 40px;
background-color: transparent;
padding: 13px 212px 13px 16px;
}
.submit-footer-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 4px;
padding: 8px 24px;
width: 165px;
height: 40px;
max-width: 165px;
background: #4d5ae5;
}